/* responsive style with media quereis */
/* mobile device responsive */
@media screen and (max-width:576px) {
    /* navbar responsive in mobile device */
    .container{
        width: 100%;
    }
    .nav{
        width: 100%;
    }
    .nav-wrapper{
        flex-direction: column;
    }
    .logo-inner{
        justify-content: center;
        margin-bottom: 30px;
    }
    .logo-inner img{
        width: 25%;
        cursor: pointer;
    }
    .menu{
        flex-direction: column;
    }
    /* banner section responsive in mobile device */
    .banner{
        background-image: none;
        width: 100%;
    }
    .banner-wrapper{
        flex-direction: column;
        flex-direction: column-reverse;
        gap: 0px;
    }
    .banner-content-inner{
        width: 100%;
        margin-top: 3rem;
        background-image: url(../images/Group\ 14.png);
        background-size: contain;
        background-repeat: no-repeat;
    }
    .banner-sub-title{
        font-size: 2rem;
    }
    .banner-title{
        font-size: 4.5rem;
    }
    .primary-btn{
        width: 129px;
        height: 60px;
    }
    .secondary-btn{
        width: 129px;
        height: 60px;
    }
    .banner-icon li a{
        font-size: 1rem;
    }
    .banner-img-inner{
        width: 100%;
    }
    .banner-img-inner img{
        width: 100%;
    }
}
/* tablet device responsive  */
@media screen and (min-width:576px) and (max-width:992px) {
    /* navbar responsive in tablet device */
    .container{
        width: 100%;
    }
    .nav{
        width: 100%;
    }
    .nav-wrapper{
        flex-direction: column;
    }
    .logo-inner{
        justify-content: center;
        margin-bottom: 30px;
    }
    .logo-inner img{
        width: 10%;
    }
    .menu{
        flex-direction: column;
    }
}