/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
section{
    margin-top: 120px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    width: 185px;
    height: 85px;
    border-radius: 45px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.secondary-btn{
    width: 185px;
    height: 85px;
    border-radius: 45px;
    background-color: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
/* header style */
/* nav style */
.nav{
    box-shadow: 1px 2px 19px 2px #00000012;
    padding: 26px 0px;
    width: 100%;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.logo-inner{
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo-inner img{
    width: 100%;
    cursor: pointer;
}
.logo-text{
    color: #0B0223;
    font-size: 2.75rem;
    font-weight: 700;
    cursor: pointer;
}
.color-logo-text{
    color: #ff42a5;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.icon-inner{
    display: flex;
    gap: 2rem;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    border-radius: 0.5rem;
    align-items: center;
}
#youtube-icon{
    color: red;
    font-size: 2rem;
}
#tiktok-icon{
    font-size: 2rem;
}
/* banner section style */
.banner{
    background-image: url(../images/Group\ 14.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.banner-wrapper{
    display: flex;
    gap: 4.25rem;
    align-items: center;
    padding: 1rem 1rem;
}
.banner-content-inner{
    width: 50%;
    padding: 16px 16px;
}
.banner-sub-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 6rem;
    margin-bottom: 1.5rem;
    background-color: #F948B2;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.banner-icon li{
    list-style: none;
    margin-bottom: 1rem;
}
.banner-icon li a{
    text-decoration: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.banner-icon li a i{
    margin-right: 0.5rem;
    color: #F948B2;
}
#primary-btn{
    margin-right: 1.5rem;
}
.banner-btn-inner{
    margin-top: 2rem;
}
.banner-img-inner{
    width: 50%;
}
.banner-img-inner img{
    width: 100%;
    height: 100%;
}
/* we are gamer section style */
.we-are-gamer{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    margin-top: 0;
}
.we-are-gamer-wrapper{
    display: flex;
    gap: 50px;
    align-items: center;
    padding-bottom: 2rem;
}
.we-are-gamer-img-inner{
    width: 60%;
}
.we-are-gamer-img-inner img{
    width: 100%;
}
.we-are-gamer-content-inner{
    width: 40%;
}
.we-are-gamer-title{
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    background-color: #F948B2;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 1.5rem;
}
.we-are-gamer-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    line-height: 30px;
    margin-bottom: 2rem;
}
.know-more-btn-inner{
    display: flex;
    justify-content: right;
    margin-bottom: 1.5rem;
}
#know-more-btn{
    width: 208px;
    padding: 21px 40px;
}
.we-are-gamer-purpose{
    color: #534C64;
    font-size: 1.5rem;
    text-align: right;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.we-are-gamer-everyone{
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: right;
}
/* online game section style */
.online-game-title{
    color: #0B0223;
    font-size: 3rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}
.gradient-color-title{
    background-color: #F948B2;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.online-game-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 3rem;
}
.online-game-wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 16px 16px;
}
.online-game-card{
    position: relative;
}
.online-game-overlay{
    background-color: #00000070;
    width: 100%;
    height: 0;
    position: absolute;
    border-radius: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    overflow: hidden;
}
#online-game-video-play{
    font-size: 3rem;
    color: #dad3d3;
}
.watch-now{
    color: #F948B2;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
}
.online-game-card img{
    width: 100%;
    display: block;
    height: auto;
}
.online-game-card:hover .online-game-overlay{
    height: 100%;
    cursor: pointer;
    border: 2px solid #F948B2;
}
#online-game-active-overlay{
    background-color: #00000070;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    overflow: hidden;
    border: 0;
}
#online-game-active-overlay:hover .online-game-overlay{
    height: 0;
}
.card-caption{
    font-size: 17px;
    color: #534C64;
    margin-top: 1.5rem;
    font-weight: 500;
}
/* play game instanly no download section style */
.play-game-instantly-wrapper{
    display: flex;
    align-items: center;
    gap: 265px;
}
.play-game-instantly-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    line-height: 60px;
    margin-bottom: 1.5rem;
}
.play-game-instanly-color-title{
    background-color: #F948B2;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.play-game-instantly-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    text-align: right;
    line-height: 30px;
}
.play-game-instanly-content-inner{
    width: 40%;
}
.play-game-instanly-img-inner{
    width: 60%;
    position: relative;
}
.play-game-instanly-img-sub-inner img{
    width: 100%;
    height: auto;
}
.play-gamr-instanly-img-sub-inner-2{
    width: 318px;
    height: 365px;
    position: absolute;
    top: 48%;
    right: 70%;
}
.play-gamr-instanly-img-sub-inner-2 img{
    width: 100%;
    height: 100%;
}
/* careers section style */
section.careers-section{
    background: linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    margin-top: 194px;
}
.careers-wrapper{
    display: flex;
    gap: 3rem;
}
.careers-content-inner{
    width: 50%;
    margin-left: 6.25rem;
    padding: 64px 0px;
}
.careers-title{
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.careers-description{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 2rem;
}
.careers-link-inner{
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
}
.careers-link-inner ul li{
    list-style: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 2rem;
}
.careers-link-inner ul li a{
    text-decoration: none;
    color: #FFF;
}
.third-btn{
    background-color: #FFF;
    padding: 21px 40px;
    border-radius: 3rem;
    outline: 0;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}
.careers-img-inner{
    width: 50%;
}
.careers-img-inner img{
    width: 100%;
    height: 100%;
}
/* gaming section style start */
.gaming-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
}
.gamming-inner{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 10px 9px;
    border-radius: 50px;
    transition:0.25s;
}
#active-gamming-inner{
    border: 1px solid #FF42A5;
}
.gamming-inner:hover{
    border: 1px solid #FF42A5;
}
.gamming-inner p{
    color: #FF42A5;
    font-size: 16px;
    font-weight: 600;
}
/* footer style */
footer.footer{
    background-color: #0B0223;
    margin-top: 120px;
    padding: 3rem 0.5rem;
}
.footer-wrapper{
    width: 70%;
    margin: 0 auto;
}
.logo-inner{
    margin: 0 auto;
    margin-bottom: 4rem;
}
h1.logo-text{
    color: #FFFFFF;
}
.logo-inner{
    width: 204px;
}
.logo-inner img{
    width: 100%;
}
.footer-menu{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 31px;
    margin-bottom: 4rem;
}
.footer-menu li{
    list-style: none;
    text-align: center;
}
.footer-menu li a{
    color: #fff;
    font-size: 18PX;
    font-weight: 600;
    text-decoration: none;
}
.footer-social-icon{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 31px;
    margin-bottom: 4rem;
}
.footer-social-icon li{
    list-style: none;
    text-align: center;
}
.footer-social-icon li a{
    color: #FFF;
    font-size: 40px;
}
.footer-condition-menu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 31px;
    margin-bottom: 1.75rem;
}
.footer-condition-menu li{
    list-style: none;
    text-align: center;
}
.footer-condition-menu li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.copy-right{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
