/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
/* shared style */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
section{
    margin-top: 120px;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.primary-btn{
    width: 185px;
    height: 85px;
    border-radius: 45px;
    background-color: #FF42A5;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}
.secondary-btn{
    width: 185px;
    height: 85px;
    border-radius: 45px;
    background-color: #4EC5F7;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
}
/* header style */
/* nav style */
.nav{
    box-shadow: 1px 2px 19px 2px #00000012;
    padding: 26px 0px;
    width: 100%;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
}
.logo-inner{
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo-inner img{
    width: 100%;
    cursor: pointer;
}
.logo-text{
    color: #0B0223;
    font-size: 2.75rem;
    font-weight: 700;
    cursor: pointer;
}
.color-logo-text{
    color: #ff42a5;
}
.menu{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.menu li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}
.icon-inner{
    display: flex;
    gap: 2rem;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
    border-radius: 0.5rem;
    align-items: center;
}
#youtube-icon{
    color: red;
    font-size: 2rem;
}
#tiktok-icon{
    font-size: 2rem;
}
/* banner section style */
.banner{
    background-image: url(../images/Group\ 14.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}
.banner-wrapper{
    display: flex;
    gap: 4.25rem;
    align-items: center;
    padding: 1rem 1rem;
}
.banner-content-inner{
    width: 50%;
    padding: 16px 16px;
}
.banner-sub-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title{
    font-size: 6rem;
    margin-bottom: 1.5rem;
    background-color: #F948B2;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.banner-icon li{
    list-style: none;
    margin-bottom: 1rem;
}
.banner-icon li a{
    text-decoration: none;
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}
.banner-icon li a i{
    margin-right: 0.5rem;
    color: #F948B2;
}
#primary-btn{
    margin-right: 1.5rem;
}
.banner-btn-inner{
    margin-top: 2rem;
}
.banner-img-inner{
    width: 50%;
}
.banner-img-inner img{
    width: 100%;
    height: 100%;
}